---

---
<html>
    <head>
        <meta charset="utf-8/"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

		<h1>About page</h1>
        <h2>... My new Astro site!</h2>

        <p>I'm working throught Astro's introductory tutorial this is the second page in my website, and this is the firts one I build my self!</p>

        <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going1</p>
	</body>
</html>